@import './common';
@import './example';

body {
  font-family: sans-serif;
}

.container {
  width: 400px;
  margin: 20px auto;
}

.form {
  display: flex;
  flex-direction: column;
  &__input {
    margin-bottom: 20px;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid royalblue;
    outline: none;
    color: royalblue;
    transition: 0.5s;
    &:hover,
    &:focus {
      opacity: 0.8;
      transform: scale(1.1);
    }
    &::placeholder {
      color: gray;
      opacity: 0.3;
    }
  }
  &__button {
    background-color: skyblue;
    cursor: pointer;
    transition: 0.5s;
    &:hover,
    &:focus {
      opacity: 0.8;
      transform: scale(1.1);
    }
    border: none;
    outline: none;
    padding: 10px 5px;
    color: white;
    font-size: 18px;
    border-radius: 5px;
  }
}

.contact-list {
  padding: 0;
  margin: 50px 0 0;
  display: flex;
  gap: 15px;
  flex-direction: column;
  list-style-type: none;
  &__item {
    padding: 15px 10px;
    border: 1px solid rgb(167, 185, 240);
    border-radius: 5px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    list-style-type: none;
  }
  &__name {
    margin: 0;
    color: skyblue;
    flex-basis: 50%;
  }
  &__number {
    margin: 0;
    color: steelblue;
    flex-basis: 50%;
    text-align: right;
  }
  &__button {
    background-color: transparent;
    font-size: 25px;
    margin-left: 10px;
    margin-top: -3px;
    padding: 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;
    color: rgb(245, 122, 122);
  }
}
